// entries container
.entries{
  width: 100%;
  max-width: 460px;
}

// each entry
.entry{
  max-width: 460px;
  width: 100%;
  padding: 2em;
  border: solid 1px lightgray;
  border-radius: 5px;
  margin-top: 1em;

  .deleteEntryButton,
  .editButton,
  .likeButton{
    float: right;
    @include button-style;
  }
    .deleteEntryButton{
      margin-right: 7px;
    }
  .like-btn-form{
    width: 100%;
    overflow: auto;
  }
  .new-comment-btn-form{
    display: flex;
    width: 100%;
    margin-top: 1em;
  }
    .commentArea{
      width: calc(80% - 7px);
      margin-right: 7px;
      border-radius: 5px;
    }
    .postCommentButton{
      @include button-style;
      width: 20%;
    }
  .getCommentsButton{
    @include button-style;
    margin-top: 1em;
    width: 100%;
  }

  a:link{
    color: $accent-color;
    text-decoration: none;
  }
  a:visited, a:active{
    color: $accent-color;
  }
  a:hover{
    color: black;
  }
}



.entry-title{
  margin-bottom: 0.3em;
  color: black;
  text-decoration: none;
  font-size: 150%;

  a:link{
    color: black;
    text-decoration: none;
  }
  a:visited, a:active{
    color: black;
  }
  a:hover{
    color: grey;
  }
}
.entry-creator{
  margin-top: 0;
  font-size: 75%;
}

.deleteCommentButton{
  @include button-style;
}

.like{
  padding: 0 2em !important;

  .entry-title{
    margin: 0.5em 0 !important;
  }
}

.comment{
  display: flex;
  flex-flow: wrap;
  margin: 10px 0 0 0;
  padding: 6px 0;

  .user{
    margin: 0;
  }

  h2{
    flex: 1;
    min-width: 100%;
  }

  p{
    flex: 1;
  }
}






// new entry
.createNewEntry, .edit-post{
  width: 100%;
  max-width: 460px;

  textarea, input{
    width: 100%;
    padding: 0.5em;
    border: 1px solid grey;
    border-radius: 5px;
  }

  .submit-btn{
    @include button-style;
  }
}
