.entry{
  max-width: 460px;
  width: 100%;
  padding: 2em;
  border: solid 1px lightgray;
  border-radius: 5px;
  margin-top: 1em;
}

.profile-comments{
  max-width: 460px;
  width: 100%;

  .comment{
    width: 100%;
    padding: 2em;
    border: solid 1px lightgray;
    border-radius: 5px;
    margin-top: 1em;
  }
}

.profile-likes{
  max-width: 460px;
  width: 100%;

  .like{
    width: 100%;
    padding: 2em;
    border: solid 1px lightgray;
    border-radius: 5px;
    margin-top: 1em;
  }
}
