.entry{
  max-width: 460px;
  width: 100%;
  padding: 2em;
  border: solid 1px lightgray;
  border-radius: 5px;
  margin-top: 1em;
}

.deleteEntryButton{
  float: right;
  @include button-style;
}


.profile-comments{
  max-width: 460px;
  width: 100%;

  .comment{
    width: 100%;
    padding: 2em;
    border: solid 1px lightgray;
    border-radius: 5px;
    margin-top: 1em;
  }
}
.getCommentsButton{
  @include button-style;
  margin-top: 1em;
  width: 100%;
}
.new-comment-btn-form{
  display: flex;
}

.user{ //comment on post
  margin:0;
}

.deleteCommentButton{
  @include button-style;
}
.commentArea{
  width: 80%;
  border-radius: 5px;
}
.postCommentButton{
  @include button-style;
  width:20%;
}

.profile-likes{
  max-width: 460px;
  width: 100%;

  .like{
    width: 100%;
    padding: 2em;
    border: solid 1px lightgray;
    border-radius: 5px;
    margin-top: 1em;
  }
}

.likeButton{
  float:right;
  @include button-style;
}
