.logout_button, .login_button{
  @include button-style;
  background-color: white;
  color:black;
  margin: 1em;
}
.container_login_page{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.container_login_form{
  padding: 5em;
}
