.profile{
  width: 100%;
}

.profile-menu{
  min-height: 45px;
  width: 100%;
  text-align: center;

  button{
    appearance: none;
    height: 45px;
    padding: 0 20px;
    margin: 0 5px;
    border: none;
    background: white;
    cursor: pointer;
  }
}

.profile-comments, .profile-likes{
  max-width: 460px;
  width: 100%;

  .comment, .like{
    width: 100%;
    padding: 2em;
    border: solid 1px lightgray;
    border-radius: 5px;
    margin-top: 1em;
  }
}
